.accordian{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}
li{
    list-style: none;
    margin-left: -200px;
    width: 950px;
    padding: 5px;
}
label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;

}
label::after{
    content: '+';
    margin-top: -8px;
    font-size: 34px;
    position: absolute;
    right: 20px;
}
input[type="radio"]{
    display: none;
}
.content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s,padding 0.5s ;  ;
}
input[type="radio"]:checked + label + .content  {
    max-height: 600px;
    padding: auto;
}
#mail{
    background-color: #303030;
    color: white;
    width: 400px;
    height: 50px;
    font-size: large;
    margin-left: 80px;
    border-radius: 5px;
    border: 1px gray solid;
}
#b2 {
    width: 150px;
    height: 57px;
    margin-left: 10px;
    cursor: pointer;
    background-color: red;
    color: white;
    font-size: larger;
    font-family: sans-serif;
    border-radius: 5px;
    border: 1px gray solid;
}
/* --------footer---------- */
.row{
    display: flex;
}
.col
{
    color: white;
    width: 30%;
    padding: 50px;
}
a{
    color: white;
}
.foot{
    margin-top: 66px;
    margin-left: 133px;
}
#call{
    margin-top: 0px;
    margin-left: 49px;
}
#e2 {

    background-color: rgba(128, 128, 128, 0.181);
    color: white;
    width: 100px;
    height: 35px;
    margin-left: 46px;
    margin-top: -10px;
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    letter-spacing: 1px;
    border-radius: 5px;
}
#end{
    margin-left: 47px;
    margin-right: 0px;
}