#i1 {
    margin-left: 0px;
    margin-top: 88px;
}

#i2 {
    margin-left: 204px;
    margin-top: 88px;

}

#i3 {
    margin-left: 0px;
    margin-top: 21px;
}

#i4 {
    margin-left: 106px;
    margin-top: 21px;

}

.p4 {
    font-size: 25px;
}